body { background: #cf9ef5; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 51px; display: flex; }
.block-database-0 { color: #6be56b; font-size: 19px; margin-bottom: 5px; }
.block-session-1 { color: #6e0d06; font-size: 18px; margin-bottom: 5px; }
.block-sms-2 { color: #5b7acd; font-size: 12px; margin-bottom: 5px; }
.block-validator-3 { color: #f8e14b; font-size: 18px; margin-bottom: 5px; }
.block-search-4 { color: #6a505e; font-size: 13px; margin-bottom: 5px; }
.block-helper-5 { color: #f3de3f; font-size: 12px; margin-bottom: 5px; }